<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Matcha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>
  <% include header.ejs %>
  <div id="blackBanner">
   <h1>MATCHA</h1>
 </div>
 <div id="blueBanner">
  <div style="display: flex;">
   <p id="loginWelcome">Bonjour <% if (locals.log) { %><%= locals.log %><%}%></p>
 </div>
 <div id="containerNav">
  <div class="topnav" style="display: flex;">
    <div>
     <a href="/"><img src="img/profile_icon.png" style="width: 30px"></a>
   </div>
   <div style="position: relative;" id="chatNav">
     <a href="/tchat"><img src="img/tchat_icon.png" style="width: 30px" onclick="test();"></a>
     <%var nb = 0; var temp = new Array();if (typeof notif !== 'undefined') {%>
     <% for (var n = 0; n < notif.length ; n++) { %>
     <%temp.push(notif[n].sender_id)%>
     <%}%>
     <%var resultat = new Array(); temp.forEach(function (element) {
     if (resultat.indexOf(element) == -1)
     {
        resultat.push(element);
     }
   })%>
   <% nb = resultat.length;%>
     <% if (nb > 0) {%>
     <div style="position: absolute; right: 5px; top: 3px; width: 20px; height: 20px; background-color: red; border-radius: 100%; text-align: center; color: white; font-size: 0.9em; display: block"><%=nb%></div>
     <%} else {%>
     <div style="position: absolute; right: 5px; top: 3px; width: 20px; height: 20px; background-color: red; border-radius: 100%; text-align: center; color: white; font-size: 0.9em; display: none;"><%=nb%></div>
     <%}%>
     <%}%>
   </div>
   <div>
     <a href="/match"><img src="img/flame_icon.png" style="width: 30px"></a>
   </div>
   <div>
     <a href="/notifs"><img src="img/bell.png" style="width: 30px;"></a>
   </div>
 </div>
 <div class="topnavBis">
   <a href="/signout"><img src="img/logout_icon.png" style="width: 30px"></a>
 </div>
</div>
</div>



<div id="bodyContainer">
  <h1>Welcome <% if (locals.log) { %><%= locals.log %><%}%></h1>

  <div id="containerBioImg">
   <div id="containerImage">
    <% for(var i = 0; i <5; i++) {
    var img = "img" + i;
    %><img src="img/users/<% if (typeof result !== 'undefined' && result[img] !== 'empty') {%><%= result[img] %> <%} else {%>profile_image.png<%}%>" id="profile_image_<%=i%>" class="img-thumbnail" onclick="document.getElementById('<%=i%>').style.display='block'" style="width: 12vw; height: 12vw; margin-top: 15px;">
    <div id="<%= i %>" class="modal">
      <form ref='uploadForm' class="modal-content animate" method="post" action="/images" encType="multipart/form-data">
       <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
       <img src="img/users/<% if (typeof result !== 'undefined' && result[img] !== 'empty') {%><%= result[img] %> <%} else {%>profile_image.png<%}%>" style="width: 55%; margin: auto;">
       <div  style="margin: auto; margin-bottom: 15px;"><label>Changer de photo: </label><input type="hidden" name="hidden" value="<%-i%>"></div>
       <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="<%=i%>" name="file_profil" accept="image/png, image/jpeg, image/jpg">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <input type="submit" name="envoyer" value="envoyer" class="btn btn-primary btn-block">
    </form>
  </div>
  <% }%>
</div>

<div id="containerBioProfil">
  <form method="post" action="/profil">
   <div class="row">
     <div class="col">
      <label for="prenom">First name</label>
      <input type="text" class="form-control" name="firstname" value="<%= info.firstname %>" style=" border: none; border-bottom: 1px solid grey; border-radius: 0px;">
      <p class="error"><% if (locals.flash && locals.flash.emptyFirstname) { %><%= flash.emptyFirstname %><%}%></p>
    </div>
    <div class="col">
      <label for="nom">Last name</label>
      <input type="text" class="form-control" name="name" value="<%= info.name %>" style="border: none; border-bottom: 1px solid grey; border-radius: 0px;">
      <p class="error"><% if (locals.flash && locals.flash.emptyName) { %><%= flash.emptyName %><%}%></p>
    </div>
  </div>
  <div class="row">
   <div class="col">
    <label for="email">email</label>
    <input type="email" class="form-control" name="email" value="<%= info.email%>" style="border: none; border-bottom: 1px solid grey; border-radius: 0px;">
    <p class="error"><% if (locals.flash && locals.flash.mail) { %><%= flash.mail %><%} if (locals.flash && locals.flash.mailUsed){%><%= locals.flash.mailUsed %><%}%></p>
  </div>
  <div class="col">
    <label for="nom">Age</label>
    <input type="number" class="form-control" name="age" value="<%= info.age %>" style="border: none; border-bottom: 1px solid grey; border-radius: 0px;">
  </div>
</div>
<div class="row">
 <div class="col">
  <label for="sel1">Sexe</label>
  <select class="form-control" id="sel1" name="sexe" style="border: none; border-bottom: 1px solid grey; border-radius: 0px;">
    <option value="Masculin" <%= info.sexe == 'Masculin' ? 'selected' : ''%>>Masculin</option>
    <option value="Feminin" <%= info.sexe == 'Feminin' ? 'selected' : ''%>>Feminin</option>
  </select>
</div>
</div>
<div class="row">
 <div class="col">
  <label for="sel2">Orientation sexuelle:</label>
  <select class="form-control" id="sel2" name="orientation" style="border: none; border-bottom: 1px solid grey; border-radius: 0px;" value="<% if (info.orientation !== 'NULL') {%><%= info.orientation %><%}%>">
   <option value="Bisexuel" <%= info.orientation == 'Bisexuel' ? 'selected' : ''%>>Bisexuel</option>
   <option value="Héterosexuel" <%= info.orientation == 'Héterosexuel' ? 'selected' : ''%>>Héterosexuel</option>
   <option value="Homosexuel" <%= info.orientation == 'Homosexuel' ? 'selected' : ''%>>Homosexuel</option>
 </select>
</div>
</div>
<div class="form-group" style="margin-top: 25px;">
  <label for="comment">Bio</label>
  <textarea class="form-control" rows="5" id="comment" name="bio" style="border: none; border-bottom: 1px solid grey; border-radius: 0px; height: 50px;"><% if (info.bio !== 'NULL') {%><%= info.bio %><%}%></textarea>
</div>
<div class="row">
 <div class="col">
  <label for="password">Nouveau mot de passe</label>
  <input type="password" class="form-control" name="password" placeholder="Changer de mot de passe" style="border: none; border-bottom: 1px solid grey; border-radius: 0px;">
  <p class="error"><% if (locals.flash && locals.flash.passDiff) { %><%= flash.passDiff %><%} if (locals.flash && locals.flash.passRequire) {%><%= locals.flash.passRequire %><%}%></p>
</div>
<div class="col">
  <label for="passwordConfirm">Confirmer le mot de passe</label>
  <input type="password" class="form-control" name="passwordConfirm" placeholder="Changer de mot de passe" style="border: none; border-bottom: 1px solid grey; border-radius: 0px;">
  <p class="error"><% if (locals.flash && locals.flash.passDiff) { %><%= flash.passDiff %><%}%></p>
</div>
</div>

<input type="submit" name="save" value="SAVE" class="btn btn-primary btn-block" style="margin-top: 15px;">
<p class="success"><% if (locals.flash && locals.flash.success) { %><%= flash.success %><%}%></p>
</form>
<div id="divTags">
  <form method="post" action="/tags">
    <div class="row">
     <div class="col">
      <label for="tags">Tags</label>
      <input type="text" class="form-control" name="tags" placeholder="Tag" style=" border: none; border-bottom: 1px solid grey; border-radius: 0px;">
      <input type="submit" name="saveTag" value="Ajouter tag" class="btn btn-primary btn-block" style="margin-top: 15px;">
      <div style="margin-top: 5px; width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
        <%if (typeof tags !== 'undefined') {%>
        <% for (var i = 0; i < tags.length ; i++) { %>
        <p class="spanDiv"><% if (typeof tags && tags[i].tag) {%>
          <%= tags[i].tag %><a id="<%= tags[i].id%>" class="link" style="color: white; margin-left: 3px; margin-right: 3px; font-size: 1.2em;">&#215;</a> </p>
          <%}%>
          <%}%>
          <%}%></div>
          <p class="success"><% if (locals.flash && locals.flash.exists) { %><%= flash.exists %><%}%></p>
        </div>
      </form>
      <div class="col">
        <form method="post" action="/profil">
          <label for="tags">Localisation</label>
          <input type="text" class="form-control" name="localisation" value="<% if (info.showFakeLocation == 0) {%><%= info.trueLocation %><%} else {%><%= info.fakeLocation%><%} %>" style=" border: none; border-bottom: 1px solid grey; border-radius: 0px;">
          <input type="submit" name="fakeLocation" value="Changer ma localisation" class="btn btn-primary btn-block"  style="margin-top: 15px;">
          <input type="submit" name="trueLocation" value="Me géolocaliser" class="btn btn-primary btn-block" style="background-color: rgb(251, 189, 8); border: 1px solid rgb(251, 189, 8);">
          <!-- <div id="test">localisation</div> -->
          <p class="error"><% if (locals.flash && locals.flash.emptyName) { %><%= flash.emptyName %><%}%></p>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</form>
</div>
</div>

<div id="footer">footer</div>
<script type="text/javascript">



  $.ajax({
    url: 'http://api.ipstack.com/check?access_key=97307c73fbc24738033ecab287ad0a82',
    dataType: 'jsonp',
    success: function(json) {
      var httpPost = new XMLHttpRequest();
      httpPost.open("POST", "/profil");
      httpPost.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      httpPost.send('tableau=' +  encodeURIComponent(JSON.stringify(json)));
    }
  });

// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

var tags = document.getElementsByClassName("link");

var xhttp = new XMLHttpRequest();
for (var i = 0; i < tags.length; i++) {
  tags[i].addEventListener('click', function(e) {
    console.log(e.target.id);
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {}
    };
  xhttp.open("POST", "/tags", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("tagId="+ encodeURIComponent(e.target.id));
  e.target.parentNode.remove();
});
}

var close = document.getElementsByClassName("close");

for (var i = 0; i < close.length; i++) {
  close[i].addEventListener('click', function(e) {
    e.target.parentNode.parentNode.style.display = 'none';
  })
}

</script>
</body>
</html>
