<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Matcha</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>

  <div id="blackBanner">
   <h1>MATCHA</h1>
 </div>
 <div id="blueBanner">
   <p id="loginWelcome">Bonjour <% if (locals.log) { %><%= locals.log %><%}%></p>
   <div id="containerNav">
    <div class="topnav">
     <a class="active" href="#home">Profile</a>
     <a href="#news">Tchat</a>
     <a href="#contact">match</a>
   </div>
   <div class="topnavBis">
     <a href="/signout">Sign out</a>
   </div>
 </div>
</div>


<div id="bodyContainer">
	<h1>Welcome <% if (locals.log) { %><%= locals.log %><%}%></h1>

  <div id="containerBioImg">
   <div id="containerImage">
    <% for(var i = 0; i <5; i++) {
     var img = "img" + i;
     %><img src="img/users/<% if (typeof result !== 'undefined' && result[img] !== 'empty') {%><%= result[img] %> <%} else {%>profile_image.png<%}%>" id="profile_image_<%=i%>" class="img-thumbnail" onclick="document.getElementById('<%=i%>').style.display='block'" style="width: 50%; margin-top: 15px;">
     <div id="<%= i %>" class="modal">
      <form ref='uploadForm' class="modal-content animate" method="post" action="/profil" encType="multipart/form-data">
       <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
       <img src="img/users/<% if (typeof result !== 'undefined' && result[img] !== 'empty') {%><%= result[img] %> <%} else {%>profile_image.png<%}%>" style="width: 55%; margin: auto;">
       <div  style="margin: auto; margin-bottom: 15px;"><label>Changer de photo: </label><input type="hidden" name="hidden" value="<%-i%>"></div>
       <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="<%=i%>" name="file_profil" accept="image/png, image/jpeg, image/jpg">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <!-- <input type="file" id="<%=i%>" name="file_profil" accept="image/png, image/jpeg, image/jpg" /> -->
      <input type="submit" name="envoyer" value="envoyer" class="btn btn-primary btn-block">
    </form>
  </div>
  <% }%>
</div>

<div id="containerBioProfil">
  <form method="post" action="/profil">
   <div class="row">
     <div class="col">
      <label for="prenom">First name</label>
      <input type="text" class="form-control" name="firstname" value="<%= info.firstname %>" style="border: none; border-bottom: 1px solid grey; border-radius: none;">
    </div>
    <div class="col">
      <label for="nom">Last name</label>
      <input type="text" class="form-control" name="name" value="<%= info.name %>" style="border: none; border-bottom: 1px solid grey; border-radius: none;">
    </div>
  </div>
  <div class="row">
   <div class="col">
    <label for="email">email</label>
    <input type="email" class="form-control" name="email" value="<%= info.email%>" style="border: none; border-bottom: 1px solid grey; border-radius: none;">
    <p class="error"><% if (locals.flash && locals.flash.mail) { %><%= flash.mail %><%} if (locals.flash && locals.flash.mailUsed){%><%= locals.flash.mailUsed %><%}%></p>
  </div>
  <div class="col">
    <label for="nom">Age</label>
    <input type="number" class="form-control" name="age" value="<%= info.age %>" style="border: none; border-bottom: 1px solid grey; border-radius: none;">
  </div>
</div>
<div class="row">
 <div class="col">
  <label for="sel1">Sexe</label>
  <select class="form-control" id="sel1" name="sexe" style="border: none; border-bottom: 1px solid grey; border-radius: none;" value="<% if (info.sexe !== 'NULL') {%><%= info.sexe %><%}%>">
    <option>Autre</option>
    <option>Masculin</option>
    <option>Feminin</option>
  </select>
</div>
</div>
<div class="row">
 <div class="col">
  <label for="sel1">Orientation sexuelle:</label>
  <select class="form-control" id="sel1" name="orientation" style="border: none; border-bottom: 1px solid grey; border-radius: none;" value="<% if (info.orientation !== 'NULL') {%><%= info.orientation %><%}%>">
   <option>Bi</option>
   <option>Héterosexuel</option>
   <option>Gay</option>
 </select>
</div>
</div>
<div class="form-group" style="margin-top: 30px;">
  <label for="comment">Bio</label>
  <textarea class="form-control" rows="5" id="comment" name="bio" style="border: none; border-bottom: 1px solid grey; border-radius: none; height: 50px;" value="<% if (info.bio !== 'NULL') {%><%= info.bio %><%}%>"></textarea>
</div>
<div class="form-group" style="margin-top: 30px;">
  <label for="comment">Tags</label>
  <textarea class="form-control" rows="5" id="comment" placeholder="Tags" style="border: none; border-bottom: 1px solid grey; border-radius: none; height: 50px;"></textarea>
</div>
<input type="submit" name="save" value="SAVE" class="btn btn-primary btn-block">
</form>
</div>
</div>





<script>

// Get the modal
var modal = document.getElementById('id01');


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</body>
</html>







