<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Matcha</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>

<div id="blackBanner">
	<h1>MATCHA</h1>
</div>
<div id="blueBanner">
	<p id="loginWelcome">Bonjour <% if (locals.log) { %><%= locals.log %><%}%></p>
	<div id="containerNav">
		<div class="topnav">
  			<a class="active" href="#home">Profile</a>
  			<a href="#news">Tchat</a>
  			<a href="#contact">match</a>
		</div>
		<div class="topnavBis">
			<a href="/signout">Sign out</a>
		</div>
	</div>
</div>


<div id="bodyContainer">
	<h1>Welcome <% if (locals.log) { %><%= locals.log %><%}%></h1>

<div id="containerImage">
	<% for(var i = 0; i <5; i++) {%><img src="img/users/<% if (typeof pic !== 'undefined') {%><%= pic%> <%} else {%>profile_image.png<%}%>" id="profile_image_<%=i%>" class="img-thumbnail" onclick="document.getElementById('<%=i%>').style.display='block'" style="width: 19%;">
	<div id="<%= i %>" class="modal">
    	<form ref='uploadForm' class="modal-content animate" method="post" action="/profil" encType="multipart/form-data">
    		<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    			<img src="img/<% if (typeof pic !== 'undefined') {%><%= pic%> <%} else {%>profile_image.png<%}%>" style="width: 30%;">
    			<input type="hidden" name="hidden" value="<%-i%>">
        		<input type="file" id="<%=i%>" name="file_profil" accept="image/png, image/jpeg" />
        		<input type="submit" name="envoyer" value="envoyer">
        </form>
	</div>
<% }%>


</div>





<script>

// Get the modal
var modal = document.getElementById('id01');


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>







