<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Matcha</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <link rel="stylesheet" type="text/css" href="css/match.css">

</head>
<body>
  <% include header.ejs %>
  <div id="blackBanner">
   <h1>MATCHA</h1>
 </div>
  <div id="blueBanner">
  <div style="display: flex;">
   <p id="loginWelcome">Bonjour <% if (locals.log) { %><%= locals.log %><%}%></p>
 </div>
 <div id="containerNav">
  <div class="topnav" style="display: flex;">
    <div>
     <a href="/"><img src="img/profile_icon.png" style="width: 30px"></a>
   </div>
   <div style="position: relative;" id="chatNav">
     <a href="/tchat"><img src="img/tchat_icon.png" style="width: 30px" onclick="test();"></a>
     <%var nb = 0; var temp = new Array();if (typeof notif !== 'undefined') {%>
     <% for (var n = 0; n < notif.length ; n++) { %>
     <%temp.push(notif[n].sender_id)%>
     <%}%>
     <%var resultat = new Array(); temp.forEach(function (element) {
     if (resultat.indexOf(element) == -1)
     {
        resultat.push(element);
     }
   })%>
   <% nb = resultat.length;%>
     <% if (nb > 0) {%>
     <div style="position: absolute; right: 5px; top: 3px; width: 20px; height: 20px; background-color: red; border-radius: 100%; text-align: center; color: white; font-size: 0.9em; display: block"><%=nb%></div>
     <%} else {%>
     <div style="position: absolute; right: 5px; top: 3px; width: 20px; height: 20px; background-color: red; border-radius: 100%; text-align: center; color: white; font-size: 0.9em; display: none;"><%=nb%></div>
     <%}%>
     <%}%>
   </div>
   <div>
     <a href="/match"><img src="img/flame_icon.png" style="width: 30px"></a>
   </div>
   <div>
     <a href="/notifs"><img src="img/bell.png" style="width: 30px;"></a>
   </div>
 </div>
 <div class="topnavBis">
   <a href="/signout"><img src="img/logout_icon.png" style="width: 30px"></a>
 </div>
</div>
</div>



<div id="bodyContainer">

  <div id="filterSortContainer">
    <div id="filterContainer">
      <h1>Filter</h1>
      <div id="ageContainer" class="divFilters">
        <form method="post" action="/match">
          <label for="amount">Filtrer par age:</label>
          <input type="text" id="age" name="age" readonly style="border:0; font-weight:bold;">
          <div id="slider-range1" class="removeSlider"></div>
          <input type="hidden" id="ageMin" value="<% if (typeof ageValues !== 'undefined') { %><%= ageValues[0] %><%} else {%>0<%}%>">
          <input type="hidden" id="ageMax" value="<% if (typeof ageValues !== 'undefined') { %><%= ageValues[2] %><%} else {%>100<%}%>">
        </div>
        <div id="distanceContainer" class="divFilters">
          <label for="amount">Filtrer par distance (km):</label>
          <input type="text" id="distance" name="distance" readonly style="border:0; font-weight:bold;">
          <div id="slider-range2" class="removeSlider"></div>
          <input type="hidden" id="distanceMin" value="<% if (typeof distanceValue !== 'undefined') { %><%= distanceValue[0] %><%} else {%>0<%}%>">
          <input type="hidden" id="distanceMax" value="<% if (typeof distanceValue !== 'undefined') { %><%= distanceValue[2] %><%} else {%>100000<%}%>">
        </div>
        <div id="popularityContainer" class="divFilters">
          <label for="amount">Filtrer par score de popularité:</label>
          <input type="text" id="popularite" name="popularite" readonly style="border:0; font-weight:bold;">
          <div id="slider-range3" class="removeSlider"></div>
          <input type="hidden" id="popMin" value="<% if (typeof popularite !== 'undefined') { %><%= popularite[0] %><%} else {%>0<%}%>">
          <input type="hidden" id="popMax" value="<% if (typeof popularite !== 'undefined') { %><%= popularite[2] %><%} else {%>1000<%}%>">
        </div>
        <div id="tagContainer" class="divFilters">
          <div style="margin-top: 5px; width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
            <%if (typeof tags !== 'undefined') {%>
            <% for (var i = 0; i < tags.length ; i++) { %>
            <input type="hidden" name="tagsTags" value="<%= tags[i].tag %>"><p class="spanDiv" style="background-color: rgb(251, 189, 8);"><% if (typeof tags && tags[i].tag) {%>
              <%= tags[i].tag %></p>
              <%}%>
              <%}%>
              <%}%>
            </div>
          </div>
          <input type="submit" name="filterButton" id="filterButton" value="FILTER" class="btn btn-primary btn-block" style="margin-top: 30px;">
        </div>
        <div id="sortContainer">
          <h1>Sort</h1>
          <div class="row" style="margin-top: 40px;">
           <div class="col">
            <label for="sel1">Sort by:</label>
            <select class="form-control" id="sel1" name="sort" style="border: none;border-radius: 0px;">
             <option value="age" <% if (typeof sort !== 'undefined') { %><%= sort == 'age' ? 'selected' : ''%><%}%>>Age</option>
             <option value="localisation" <% if (typeof sort !== 'undefined') { %><%= sort == 'localisation' ? 'selected' : ''%><%}%>>Distance</option>
             <option value="popularite" <% if (typeof sort !== 'undefined') { %><%= sort == 'popularite' ? 'selected' : ''%><%}%>>Popularité</option>
             <option value="tags" <% if (typeof sort !== 'undefined') { %><%= sort == 'tags' ? 'selected' : ''%><%}%>>Tags</option>
           </select>
           <input type="submit" name="sortButton" value="SORT" class="btn btn-primary btn-block"  style="margin-top: 30px;">
         </form>
       </div>
     </div>
   </div>
 </div>
 <div id="greyLine"></div>
 <div id="suggestionsDiv">
  <p class="error"><% if (typeof fillProfile !== 'undefined') { %><%= fillProfile %><%}%></p>
  <div id="suggestions" style="display: flex; flex-wrap: wrap;">
    <%if (typeof suggestions !== 'undefined') {%>
    <% for (var i = 0; i < suggestions.length ; i++) { %>
    <% if (suggestions[i].login !== info.login) {%>
    <% if ((suggestions[i].age >= ageValues[0] && suggestions[i].age <= ageValues[2])) {%>
    <% if ((suggestions[i].distance >= distanceValue[0] && suggestions[i].distance <= distanceValue[2])) {%>
    <% if ((suggestions[i].popularite >= popularite[0] && suggestions[i].popularite <= popularite[2])) {%>
    <%if (typeof block !== 'undefined') {%><%var skip = 0;%><% for (var b = 0; b < block.length ; b++) { %><% if (block[b].blocked_id == suggestions[i].id) { var skip = 1;}}}%>
    <%if (typeof report !== 'undefined') {%><%var reportUser = 0;%><% for (var b = 0; b < report.length ; b++) { %><% if (report[b].reported_id == suggestions[i].id) { var reportUser = 1;}}}%>
    <%var noImage = 0;if (suggestions[i].img0 == 'empty' && suggestions[i].img1 == 'empty' && suggestions[i].img2 == 'empty' && suggestions[i].img3 == 'empty' && suggestions[i].img4 == 'empty') {var noImage = 1;}%>
    <%if (skip == 0) {%>
    <div class="suggestionsUserDiv" style="margin: auto; margin-top: 15px; box-shadow: 0 10px 6px -6px #777; width: 12vw;"><% if (typeof suggestions && suggestions[i]) {%>
      <div class="overlay" style="display: flex; justify-content: center; align-items: center;"></div>
      <div id="user<%= i %>" class="modal">
        <div class="modal-content">
          <span class="close" title="Close Modal">&times;</span>
          <div style="display: flex; margin: 50px;">
            <div style="width: 50%; display: flex; flex-wrap: wrap; justify-content: space-around;">
              <img src="img/users/<% if (typeof suggestions !== 'undefined' && suggestions[i].img0 !== 'empty') {%><%= suggestions[i].img0 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 14vw; height: 14vh; margin-top: 15px;">
              <img src="img/users/<% if (typeof suggestions !== 'undefined' && suggestions[i].img1 !== 'empty') {%><%= suggestions[i].img1 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 14vw; height: 14vh; margin-top: 15px;">
              <img src="img/users/<% if (typeof suggestions !== 'undefined' && suggestions[i].img2 !== 'empty') {%><%= suggestions[i].img2 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 14vw; height: 14vh; margin-top: 15px;">
              <img src="img/users/<% if (typeof suggestions !== 'undefined' && suggestions[i].img3 !== 'empty') {%><%= suggestions[i].img3 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 14vw; height: 14vh; margin-top: 15px;">
              <img src="img/users/<% if (typeof suggestions !== 'undefined' && suggestions[i].img4 !== 'empty') {%><%= suggestions[i].img4 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 14vw; height: 14vh; margin-top: 15px;">
            </div>
            <div id="infoContainer" style="width: 50%;">
              <p style="color: rgb(22, 79, 159);"><%= suggestions[i].login %></p>
              <p class="<%if (reportUser == 1){%>reported<%}else{%>report<%}%>" style="display: flex; justify-content: center; color: red; font-style: italic;<%if (reportUser == 1){%>color: green;<%}%> font-size: 0.8em;" id="<%=suggestions[i].id%>"><%if (reportUser == 1){%>(Reported)<%}else{%>(Report user as fake user)<%}%></p>
              <div style="display: flex; justify-content: space-around; margin-top: 20px;">
                <div>
                  <p style="color: grey;">Nom</p>
                  <p style="font-style: italic;"><%= suggestions[i].name %></p>
                  <p style="color: grey;">Sexe</p>
                  <p style="font-style: italic;"><%= suggestions[i].sexe %></p>
                  <p style="color: grey;">Age</p>
                  <p style="font-style: italic;"><%= suggestions[i].age %></p>
                </div>
                <div>
                  <p style="color: grey;">Prenom</p>
                  <p style="font-style: italic;"><%= suggestions[i].firstname %></p>
                  <p style="color: grey;">Orientation</p>
                  <p style="font-style: italic;"><%= suggestions[i].orientation %></p>
                  <p style="color: grey;">De</p>
                  <p style="font-style: italic;"><% if (typeof suggestions && suggestions[i].showFakeLocation == 0) {%><%= suggestions[i].trueLocation%><%} else {%><%= suggestions[i].fakeLocation%><%}%><span> (distance:
                    <%
                    var point1 = new geopoint(info.latitude, info.longitude)
                    point2 =  new geopoint(suggestions[i].latitude, suggestions[i].longitude)
                    distance = point1.distanceTo(point2, true)
                    if (!distance)
                    distance = '0';
                    %>
                    <%- parseInt(distance, 10)%> km)
                  </span></p>
                </div>
              </div>
              <div style="text-align: center;">
                <p style="color: grey;">Bio</p>
                <p style="font-style: italic;"><%= suggestions[i].bio %></p>
              </div>
              <div style="margin-top: 5px; width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
                <% for (var j = 0; j < suggestions[i].tags.length ; j++) { %>
                <p class="spanDiv"><% if (typeof suggestions[i].tags && suggestions[i].tags[j]) {%>
                  <%= suggestions[i].tags[j] %></p>
                  <%}%>
                  <%}%>
                </div>
                <div id="iconDiv" style="margin-top: 20px; display: flex; justify-content: space-around;">
                  <div class="bubble" style="display: flex; justify-content: center; align-items: center;"><img src="img/pop_icon.png" style="cursor: pointer;" data-toggle="tooltip" title="Popularity score"><%=suggestions[i].popularite%></div>
                  <div class="bubble" style="display: flex; justify-content: center; align-items: center; <% if (noImage == 1) {%>display: none;<%}%>">
                    <% var src = 'like_icon.png'%>
                    <%if (typeof likes !== 'undefined') {%>
                    <% for (var l = 0; l < likes.length; l++) { %>
                    <% if (typeof likes !== 'undefined' && likes[l].liked_id == suggestions[i].id) {%>
                    <%var src = 'liked_icon.png';%>
                    <%break;}}}%>
                    <img src="img/<%=src%>" style="cursor: pointer; width: 3vw;" data-toggle="tooltip" title="<%if (src == 'liked_icon.png') {%>Unlike<%}else{%>like<%}%>" id="<%=suggestions[i].id%>"
                    class="like"><span id="<%if (src == 'liked_icon.png') {%>unlike<%}else{%>like<%}%>"></span>
                  </div>
                  <div class="bubble" style="display: flex; justify-content: center; align-items: center;"><img src="img/block_icon.png" style="cursor: pointer;" data-toggle="tooltip" title="block <%= suggestions[i].login%>" id="<%=suggestions[i].id%>" class="block"></div>
                </div>
                <div class="checkOnline" id="<%=suggestions[i].login%>"><%if (connectedUsers.indexOf(suggestions[i].login) !== -1) {%><p id="online" style="color: green; text-align: center; margin-top: 15px;">En ligne</p><%} else {%>
                  <p id="offline" style="color: red; margin-top: 15px; text-align: center;">Hors ligne <% if (typeof suggestions !== 'undefined' && suggestions[i].connected !== 'NULL') {%>depuis le <%= moment(suggestions[i].connected).format('DD-MM-YYYY HH:mm:ss') %><%}%></p><%}%></div>

                </div>
              </div>
            </div>
          </div>
          <img src="img/users/<% if (typeof suggestions !== 'undefined' && suggestions[i].img0 !== 'empty') {%><%= suggestions[i].img0 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 75vw; height: 15vh; margin-top: 15px;">





          <p class="name_user"><%= suggestions[i].login %><img src="img/infos.png" style="width: 30px; cursor: pointer; margin-left: 5px;" class="text" id="<%=suggestions[i].id%>" onclick="getInfo(); document.getElementById('user<%= i %>').style.display='block'"></p>






        </div>
        <%}%>
        <%}%>
        <%}%>
        <%}%>
        <%}%>
        <%}%>
        <%}%>
        <%}%>
      </div>
    </div>
  </div>




  <div id="footer">© Cholm & Mimhoff</div>

  <script>


// When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//   if (event.target == modal) {
//     modal.style.display = "none";
//   }
// }




$( function() {
  var ageMin = document.getElementById("ageMin");
  var ageMax = document.getElementById("ageMax");
  var distanceMin = document.getElementById("distanceMin");
  var distanceMax = document.getElementById("distanceMax");
  var popMin = document.getElementById("popMin");
  var popMax = document.getElementById("popMax");
  $( "#slider-range1" ).slider({
    range: true,
    min: 0,
    max: 100,
    values: [ ageMin.value, ageMax.value ],
    slide: function( event, ui ) {
      $( "#age" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
    }
  });
  $( "#age" ).val($( "#slider-range1" ).slider( "values", 0 ) +
    " - " + $( "#slider-range1" ).slider( "values", 1 ) );
} );

$( function() {
  $( "#slider-range2" ).slider({
    range: true,
    min: 0,
    max: 10000,
    values: [ distanceMin.value, distanceMax.value ],
    slide: function( event, ui ) {
      $( "#distance" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
    }
  });
  $( "#distance" ).val($( "#slider-range2" ).slider( "values", 0 ) +
    " - " + $( "#slider-range2" ).slider( "values", 1 ) );
} );

$( function() {
  $( "#slider-range3" ).slider({
    range: true,
    min: 0,
    max: 1000,
    values: [ popMin.value, popMax.value ],
    slide: function( event, ui ) {
      $( "#popularite" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
    }
  });
  $( "#popularite" ).val($( "#slider-range3" ).slider( "values", 0 ) +
    " - " + $( "#slider-range3" ).slider( "values", 1 ) );
} );

var tags = document.getElementsByClassName("link");

var xhttp = new XMLHttpRequest();
for (var i = 0; i < tags.length; i++) {
  tags[i].addEventListener('click', function(e) {
    console.log(e.target.id);
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {}
    };
  xhttp.open("POST", "/tags", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("tagId="+ encodeURIComponent(e.target.id));
  e.target.parentNode.remove();
});
}


var tags = document.getElementsByClassName("suggestionsUserDiv");



function getInfo() {
  var text = document.getElementsByClassName("text");

  for (var i = 0; i < tags.length; i++) {
    tags[i].addEventListener('click', function(e) {
      var removeSlider = document.getElementsByClassName("removeSlider");
      for (var i = 0; i < removeSlider.length; i++) {
        removeSlider[i].style.opacity = 0;
      }

    });
  }
}


var close = document.getElementsByClassName("close");

for (var i = 0; i < close.length; i++) {
  close[i].addEventListener('click', function(e) {
    e.target.parentNode.parentNode.style.display = 'none';
    var text = document.getElementsByClassName("text");

    for (var i = 0; i < tags.length; i++) {
      tags[i].addEventListener('click', function(e) {
        var removeSlider = document.getElementsByClassName("removeSlider");
        for (var i = 0; i < removeSlider.length; i++) {
          removeSlider[i].style.opacity = 1;
        }

      });
    }
  })
}

var like = document.getElementsByClassName("like");
var xhttp = new XMLHttpRequest();
for (var i = 0; i < like.length; i++) {
  like[i].addEventListener('click', function(e) {
    if (e.target.nextSibling.id == "like")
    {
      e.target.src = "img/liked_icon.png";
      e.target.className = "unlike";
      e.target.title = "unlike";
      e.target.nextSibling.id = "unlike";
      // var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {}
      };
    xhttp.open("POST", "/likes", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("likeId="+ encodeURIComponent(e.target.id));

  }
  else if (e.target.nextSibling.id == "unlike")
  {
    e.target.src = "img/like_icon.png";
    e.target.className = "like";
    e.target.title = "like";
    e.target.nextSibling.id = "like";
    // var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {}
    };
  xhttp.open("POST", "/likes", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("unlikeId="+ encodeURIComponent(e.target.id));

}
});
}


var block = document.getElementsByClassName("block");
var xhttpBlock = new XMLHttpRequest();
for (var i = 0; i < block.length; i++) {
  block[i].addEventListener('click', function(e) {
    e.target.parentNode.parentNode.style.color = "red";
    e.target.parentNode.parentNode.style.textAlign = "center";
    e.target.parentNode.parentNode.innerHTML = "Cet utilisateur à été bloqué et n'apparaitra désormais plus dans vos résultats de recherches";
    xhttpBlock.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {}
    };
  xhttpBlock.open("POST", "/block", true);
  xhttpBlock.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttpBlock.send("blockId="+ encodeURIComponent(e.target.id));
});
}

var text = document.getElementsByClassName("text");
var xhttp = new XMLHttpRequest();
for (var i = 0; i < text.length; i++) {
  text[i].addEventListener('click', function(e) {
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {}
    };
  xhttp.open("POST", "/likes", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("visitId="+ encodeURIComponent(e.target.id));
});
}


var report = document.getElementsByClassName("report");
var xhttpReport = new XMLHttpRequest();
for (var i = 0; i < report.length; i++) {
  report[i].addEventListener('click', function(e) {
    e.target.style.color = "green";
    e.target.textContent = "Reported";
    e.target.style.cursor = "not-allowed";
    e.target.style.textDecoration = "none";
    setTimeout(function(){ e.target.innerHTML = ""; }, 1500);
    xhttpBlock.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {}
    };
  xhttpReport.open("POST", "/report", true);
  xhttpReport.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttpReport.send("reportId="+ encodeURIComponent(e.target.id));
});
}

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});



var filtre = document.getElementsByClassName("spanDiv");
for (var i = 0; i < filtre.length; i++) {
  filtre[i].addEventListener('click', function(e) {
    if (e.target.style.backgroundColor == "lightgrey")
      e.target.style.backgroundColor = 'rgb(' + 251 + ',' + 189 + ',' + 8 + ')';
    else
      e.target.style.backgroundColor = "lightgrey";
  });
}

</script>
</body>
</html>
