<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Matcha</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="css/tchat.css">

</head>
<body>
  <% include header.ejs %>
  <div id="blackBanner">
   <h1>MATCHA</h1>
 </div>
 <div id="blueBanner">
  <div style="display: flex;">
   <p id="loginWelcome">Bonjour <% if (locals.log) { %><%= locals.log %><%}%></p>
 </div>
 <div id="containerNav">
  <div class="topnav" style="display: flex;">
    <div>
     <a href="/"><img src="img/profile_icon.png" style="width: 30px"></a>
   </div>
   <div style="position: relative;">
     <a href="/tchat"><img src="img/tchat_icon.png" style="width: 30px" onclick="test();"></a>
     <%var nb = 0; var temp = '';if (typeof notif !== 'undefined') {%>
     <% for (var n = 0; n < notif.length ; n++) { %>
     <% if (notif[n].sender_id !== temp){temp = notif[n].sender_id; nb++;}%>
     <%}%>
     <% if (nb > 0) {%>
     <div style="position: absolute; right: 5px; top: 3px; width: 20px; height: 20px; background-color: red; border-radius: 100%; text-align: center; color: white; font-size: 0.9em; display: block"><%=nb%></div>
     <%} else {%>
     <div style="position: absolute; right: 5px; top: 3px; width: 20px; height: 20px; background-color: red; border-radius: 100%; text-align: center; color: white; font-size: 0.9em; display: none;"><%=nb%></div>
     <%}%>
     <%}%>
   </div>
   <div>
     <a href="/match"><img src="img/flame_icon.png" style="width: 30px"></a>
   </div>
   <div>
     <a href="/notifs"><img src="img/bell.png" style="width: 30px;"></a>
   </div>
 </div>
 <div class="topnavBis">
   <a href="/signout"><img src="img/logout_icon.png" style="width: 30px"></a>
 </div>
</div>
</div>

<div id="bodyContainer">
  <h1>Tchat</h1>
  <div id="matchChatDiv" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <%if (typeof suggestions !== 'undefined') {%>
    <% for (var i = 0; i < suggestions.length ; i++) { %>
    <% if (suggestions[i].login !== info.login) {%>
    <%if (typeof block !== 'undefined') {%><%var skip = 0;%><% for (var b = 0; b < block.length ; b++) { %><% if (block[b].blocked_id == suggestions[i].id) { var skip = 1;}}}%>
    <%if (typeof report !== 'undefined') {%><%var reportUser = 0;%><% for (var b = 0; b < report.length ; b++) { %><% if (report[b].reported_id == suggestions[i].id) { var reportUser = 1;}}}%>
    <%var noImage = 0;if (pics[i].img0 == 'empty' && pics[i].img1 == 'empty' && pics[i].img2 == 'empty' && pics[i].img3 == 'empty' && pics[i].img4 == 'empty') {var noImage = 1;}%>
    <%if (skip == 0) {%>
    <div class="suggestionsUserDiv" style="margin: auto; margin-top: 15px; box-shadow: 0 10px 6px -6px #777; width: 12vw"><% if (typeof suggestions && suggestions[i]) {%>
      <div class="overlay" style="display: flex; justify-content: center; align-items: center;"></div>
      <div id="user<%= i %>" class="modal">
        <div class="modal-content">
          <span class="close" title="Close Modal">&times;</span>
          <div style="display: flex; margin: 50px;">
            <div style="width: 50%; display: flex; flex-wrap: wrap; justify-content: space-around;">
              <img src="img/users/<% if (typeof pics !== 'undefined' && pics[i].img0 !== 'empty') {%><%= pics[i].img0 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 14vw; height: 14vh; margin-top: 15px;">
              <img src="img/users/<% if (typeof pics !== 'undefined' && pics[i].img1 !== 'empty') {%><%= pics[i].img1 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 14vw; height: 14vh; margin-top: 15px;">
              <img src="img/users/<% if (typeof pics !== 'undefined' && pics[i].img2 !== 'empty') {%><%= pics[i].img2 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 14vw; height: 14vh; margin-top: 15px;">
              <img src="img/users/<% if (typeof pics !== 'undefined' && pics[i].img3 !== 'empty') {%><%= pics[i].img3 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 14vw; height: 14vh; margin-top: 15px;">
              <img src="img/users/<% if (typeof pics !== 'undefined' && pics[i].img4 !== 'empty') {%><%= pics[i].img4 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 14vw; height: 14vh; margin-top: 15px;">
            </div>
            <div id="infoContainer" style="width: 50%;">
              <h1 style="color: rgb(22, 79, 159);"><%= suggestions[i].login %></h1>
              <p class="<%if (reportUser == 1){%>reported<%}else{%>report<%}%>" style="display: flex; justify-content: center; color: red; font-style: italic;<%if (reportUser == 1){%>color: green;<%}%> font-size: 0.8em;" id="<%=suggestions[i].id%>"><%if (reportUser == 1){%>(Reported)<%}else{%>(Report user as fake user)<%}%></p>
              <div style="display: flex; justify-content: space-around; margin-top: 20px;">
                <div>
                  <p style="color: grey;">Nom</p>
                  <p style="font-style: italic;"><%= suggestions[i].name %></p>
                  <p style="color: grey;">Sexe</p>
                  <p style="font-style: italic;"><%= suggestions[i].sexe %></p>
                  <p style="color: grey;">Age</p>
                  <p style="font-style: italic;"><%= suggestions[i].age %></p>
                </div>
                <div>
                  <p style="color: grey;">Prenom</p>
                  <p style="font-style: italic;"><%= suggestions[i].firstname %></p>
                  <p style="color: grey;">Orientation</p>
                  <p style="font-style: italic;"><%= suggestions[i].orientation %></p>
                  <p style="color: grey;">De</p>
                  <p style="font-style: italic;"><% if (typeof suggestions && suggestions[i].showFakeLocation == 0) {%><%= suggestions[i].trueLocation%><%} else {%><%= suggestions[i].fakeLocation%><%}%><span> (distance:
                    <%
                    var point1 = new geopoint(info.latitude, info.longitude)
                    point2 =  new geopoint(suggestions[i].latitude, suggestions[i].longitude)
                    distance = point1.distanceTo(point2, true)
                    if (!distance)
                    distance = '0';
                    %>
                    <%- parseInt(distance, 10)%> km)
                  </span></p>
                </div>
              </div>
              <div style="text-align: center;">
                <p style="color: grey;">Bio</p>
                <p style="font-style: italic;"><%= suggestions[i].bio %></p>
              </div>
              <div id="iconDiv" style="margin-top: 20px; display: flex; justify-content: space-around;">
                <div class="bubble" style="display: flex; justify-content: center; align-items: center;"><img src="img/pop_icon.png" style="cursor: pointer;" data-toggle="tooltip" title="Popularity score"><%=suggestions[i].popularite%></div>
                <div class="bubble" style="display: flex; justify-content: center; align-items: center; <% if (noImage == 1) {%>display: none;<%}%>">
                  <% var src = 'like_icon.png'%>
                  <%if (typeof likes !== 'undefined') {%>
                  <% for (var l = 0; l < likes.length; l++) { %>
                  <% if (typeof likes !== 'undefined' && likes[l].liked_id == suggestions[i].id) {%>
                  <%var src = 'liked_icon.png';%>
                  <%break;}}}%>
                  <img src="img/<%=src%>" style="cursor: pointer; width: 3vw;" data-toggle="tooltip" title="<%if (src == 'liked_icon.png') {%>Unlike<%}else{%>like<%}%>" id="<%=suggestions[i].id%>"
                  class="like"><span id="<%if (src == 'liked_icon.png') {%>unlike<%}else{%>like<%}%>"></span>
                </div>
                <div class="bubble" style="display: flex; justify-content: center; align-items: center;"><img src="img/block_icon.png" style="cursor: pointer;" data-toggle="tooltip" title="block <%= suggestions[i].login%>" id="<%=suggestions[i].id%>" class="block"></div>
              </div>
              <p>en ligne / hors ligne</p>
            </div>
          </div>
        </div>
      </div>
      <img src="img/users/<% if (typeof pics !== 'undefined' && pics[i].img0 !== 'empty') {%><%= pics[i].img0 %> <%} else {%>profile_image.png<%}%>" class="img-thumbnail" style="width: 75vw; height: 15vh; margin-top: 15px;">
      <div style=" margin-top: 15px; display: flex; justify-content: center; ">
        <div>
          <img src="img/infos.png" style="width: 30px; cursor: pointer; margin-right: 15px;" class="text" id="<%= suggestions[i].id%>" onclick="document.getElementById('user<%= i %>').style.display='block'">
        </div>
        <div class="name_user">
          <%= suggestions[i].login %>
        </div>
        <div style="position: relative;">
          <img src="img/chat.png" style="width: 30px; cursor: pointer; margin-left: 15px;" onclick="test(this);document.getElementById('chat<%= i %>').style.display='block'" id="<%= suggestions[i].id %>" class="chatRoom">
          <%var nb = 0;if (typeof notif !== 'undefined') {%>
          <% for (var n = 0; n < notif.length ; n++) { %>
          <% if (notif[n].sender_id == suggestions[i].id){%>
          <% nb++;%>
          <%}%>
          <%}%>
          <% if (nb > 0) {%>
          <div style=" position: absolute; right: -10px; bottom: 20px; width: 20px; height: 20px; background-color: red; border-radius: 100%; color: white; text-align: center; font-size: 0.9em; display: block;" class="notifDiv"><%=nb%></div>
          <%} else {%>
          <div style=" position: absolute; right: -10px; bottom: 20px; width: 20px; height: 20px; background-color: red; border-radius: 100%; color: white; text-align: center; font-size: 0.9em; display: none;" class="notifDiv">0</div>
          <%}%>
          <%}%>
        </div>
      </div>
    </div>



    <div class="overlay" style="display: flex; justify-content: center;"></div>
    <div id="chat<%= i %>" class="modal">
      <div class="modal-content">
        <span class="close" title="Close Modal">&times;</span>
        <div id="infoContainer" style="width: 70%; margin: auto;">
          <h1 style="color: rgb(22, 79, 159);">Votre conversation avec <%= suggestions[i].login %></h1>
          <div class="messageDiv" style="width: 80%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin: auto; margin-top: 15px;">
            <input type="hidden" class="hiddenSrc" src="img/users/<% if (typeof pics !== 'undefined' && pics[i].img0 !== 'empty') {%><%= pics[i].img0 %> <%} else {%>profile_image.png<%}%>" id="<%=suggestions[i].id%>">
            <div class="chatDiv" style="width: 70%;height: 50vh; overflow-y: scroll;" id="<%=suggestions[i].id%>">
              <%var nb = 0;if (typeof messages !== 'undefined') {%>
              <% for (var m = 0; m < messages.length ; m++) { %>
              <% if (messages[m].sender_id == suggestions[i].id || (messages[m].sender_id == info.id && messages[m].receiver_id == suggestions[i].id)){%>
              <% if (nb % 5 == 0) { %><p style="color: grey; text-align: center;"><%= moment(messages[m].date).format('DD-MM')%> a <%= moment(messages[m].date).format('HH:mm')%></p><%}nb++%>
              <% if (messages[m].sender_id == suggestions[i].id){ %>
              <div style="display: flex;"><img src="img/users/<% if (typeof pics !== 'undefined' && pics[i].img0 !== 'empty') {%><%= pics[i].img0 %> <%} else {%>profile_image.png<%}%>"
                style="width: 2vw; height: 2vw; border-radius: 100%; align-self: center;" data-toggle="tooltip" title="<%=suggestions[i].login%>"><p id="leftMessage" style="background-color: rgb(241, 240, 240); border-radius: 5px; padding: 5px; max-width: 80%; margin-left: 5px; word-break: break-all;" data-toggle="tooltip" title="le <%= moment(messages[m].date).format('DD-MM-YYYY')%> a <%= moment(messages[m].date).format('HH:mm')%>"><%=messages[m].message%></p></div>
                <%}%>
                <% if (messages[m].sender_id == info.id && messages[m].receiver_id == suggestions[i].id) {%>
                <div style="display: flex; justify-content: flex-end;"><p id="rightMessage" style="background-color: rgb(17, 108, 214); border-radius: 5px; color: white; padding: 5px; max-width: 80%; margin-right: 5px;word-break: break-all;" data-toggle="tooltip" title="le <%= moment(messages[m].date).format('DD-MM-YYYY')%> a <%= moment(messages[m].date).format('HH:mm')%>"><%=messages[m].message%></p></div>
                <%}%>


                <%}%>
                <%}%>
                <%}%>
              </div>
              <div id="formDiv" style="width: 70%;margin-top: 15px; margin-bottom: 15px;">
                <div class="row">
                 <div class="col">
                  <textarea name="message" class="form-control" id="<%=suggestions[i].id%>" placeholder="Ecrivez un message"></textarea>
                  <input type="submit" id="<%=suggestions[i].id%>" name="envoyer" value="Envoyer" class="btn btn-primary btn-block" style="margin-top: 15px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <%}%>
    <%}%>
    <%}%>
    <%}%>
    <%}%>
  </div>
</div>
</div>
</div>
</div>

<div id="footer">© Cholm & Mimhoff</div>



<script>


  function test(e)
  {
    e.parentNode.children[1].textContent = '0';
    e.parentNode.children[1].style.display = 'none';
    socket.emit("remove notif message", e.id);
  }




  var envoyer = document.getElementsByName("envoyer");
  var message = document.getElementsByName("message");
  for (var i = 0; i < envoyer.length; i++) {
    envoyer[i].addEventListener('click', function(e) {
      console.log(e.target.parentNode.children[0].value);
      var message = e.target.parentNode.children[0].value
      var id = e.target.parentNode.children[0].id;
      if (message !== '')
      {
        e.target.parentNode.children[0].value = '';
        e.target.parentNode.children[0].focus();
        socket.emit('send message', message, id);
        var chatDiv = document.getElementsByClassName("chatDiv");
        for (var i = 0; i < chatDiv.length; i++) {
          if (id == chatDiv[i].id)
          {
            var div = document.createElement("div");
            var p = document.createElement("p");
            div.style.display = "flex";
            div.style.justifyContent = "flex-end";
            p.textContent = message;
            p.style.backgroundColor = 'rgb(' + 17 + ',' + 108 + ',' + 214 + ')';
            p.style.borderRadius = '5px';
            p.style.color = "white";
            p.style.padding = '5px';
            p.style.maxWidth = '80%';
            p.style.marginRight = '5px';
            p.style.wordBreak = 'break-all';
            div.appendChild(p);
            chatDiv[i].appendChild(div);
            chatDiv[i].scrollTop = chatDiv[i].scrollHeight;

          }
        }
      }
    })
  }

  var chatRoom = document.getElementsByClassName("chatRoom");
  for (var i = 0; i < chatRoom.length; i++) {
    socket.emit("new room", chatRoom[i].id);
  }



  socket.on("put message", function (message) {
    var chatDiv = document.getElementsByClassName("chatDiv");
    var notifDiv = document.getElementsByClassName("notifDiv");
    for (var i = 0; i < chatDiv.length; i++) {
      // console.log(notifDiv[i]);
      // console.log("Le serveur a un message pour vous: " + message.msg)
      if (message.id == chatDiv[i].id)
      {
        var div = document.createElement("div");
        var img = document.createElement("img");
        var p = document.createElement("p");
        var hiddenSrc = document.getElementsByClassName("hiddenSrc");
        for (var l = 0; l < hiddenSrc.length; l++) {
          if (hiddenSrc[l].id == chatDiv[i].id)
            var src = hiddenSrc[i].src;
        }
        img.src = src;
        img.style.width = "2vw";
        img.style.height = "2vw";
        img.style.borderRadius = "100%";
        img.style.alignSelf = "center";
        div.style.display = "flex";
        p.textContent = message.msg;
        p.style.backgroundColor = 'rgb(' + 241 + ',' + 240 + ',' + 240 + ')';
        p.style.borderRadius = '5px';
        p.style.padding = '5px';
        p.style.maxWidth = '80%';
        p.style.marginLeft = '5px';
        p.style.wordBreak = 'break-all';
        div.appendChild(img);
        div.appendChild(p);
        chatDiv[i].appendChild(div);
        chatDiv[i].scrollTop = chatDiv[i].scrollHeight;
        notifDiv[i].textContent = parseInt(notifDiv[i].textContent) + 1;
        notifDiv[i].style.display = "block";
      }
    }
  })














  var modal = document.getElementsByClassName('modal');
  var modalContent = document.getElementsByClassName('modal-content');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target.className == "modal") {
    for (var i = 0; i < modal.length; i++) {
      modal[i].style.display = "none"
    }
  }
}


var tags = document.getElementsByClassName("suggestionsUserDiv");


var close = document.getElementsByClassName("close");

for (var i = 0; i < close.length; i++) {
  close[i].addEventListener('click', function(e) {
    e.target.parentNode.parentNode.style.display = 'none';
    var text = document.getElementsByClassName("text");

    for (var i = 0; i < tags.length; i++) {
      tags[i].addEventListener('click', function(e) {
        var removeSlider = document.getElementsByClassName("removeSlider");
        for (var i = 0; i < removeSlider.length; i++) {
          removeSlider[i].style.opacity = 1;
        }

      })
    }
  })
}

var like = document.getElementsByClassName("like");
var xhttp = new XMLHttpRequest();
for (var i = 0; i < like.length; i++) {
  like[i].addEventListener('click', function(e) {
    if (e.target.nextSibling.id == "like")
    {
      e.target.src = "img/liked_icon.png";
      e.target.className = "unlike";
      e.target.title = "unlike";
      e.target.nextSibling.id = "unlike";
      // var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {}
      };
    xhttp.open("POST", "/likes", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("likeId="+ encodeURIComponent(e.target.id));

  }
  else if (e.target.nextSibling.id == "unlike")
  {
    e.target.src = "img/like_icon.png";
    e.target.className = "like";
    e.target.title = "like";
    e.target.nextSibling.id = "like";
    // var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {}
    };
  xhttp.open("POST", "/likes", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("unlikeId="+ encodeURIComponent(e.target.id));

}
});
}


var block = document.getElementsByClassName("block");
var xhttpBlock = new XMLHttpRequest();
for (var i = 0; i < block.length; i++) {
  block[i].addEventListener('click', function(e) {
    e.target.parentNode.parentNode.style.color = "red";
    e.target.parentNode.parentNode.style.textAlign = "center";
    e.target.parentNode.parentNode.innerHTML = "Cet utilisateur à été bloqué et n'apparaitra désormais plus dans vos résultats de recherches";
    xhttpBlock.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {}
    };
  xhttpBlock.open("POST", "/block", true);
  xhttpBlock.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttpBlock.send("blockId="+ encodeURIComponent(e.target.id));
});
}

var text = document.getElementsByClassName("text");
var xhttp = new XMLHttpRequest();
for (var i = 0; i < text.length; i++) {
  text[i].addEventListener('click', function(e) {
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {}
    };
  xhttp.open("POST", "/likes", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("visitId="+ encodeURIComponent(e.target.id));
});
}


var report = document.getElementsByClassName("report");
var xhttpReport = new XMLHttpRequest();
for (var i = 0; i < report.length; i++) {
  report[i].addEventListener('click', function(e) {
    e.target.style.color = "green";
    e.target.textContent = "Reported";
    e.target.style.cursor = "not-allowed";
    e.target.style.textDecoration = "none";
    setTimeout(function(){ e.target.innerHTML = ""; }, 1500);
    xhttpBlock.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {}
    };
  xhttpReport.open("POST", "/report", true);
  xhttpReport.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttpReport.send("reportId="+ encodeURIComponent(e.target.id));
});
}

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});




</script>
</body>
</html>
